body {
  font-family: "Ubuntu", sans-serif;
}
.container {
  margin: 0 auto;
  margin-top: 80px;
  max-width: 500px;
}
.card {
  border-color: #53c5be;
  border-width: 3px;
}
.search {
  border-color: #53c5be;
  border-radius: 10px;
  display: inline;
}
.button {
  display: inline;
}

.city {
  text-transform: capitalize;
  color: #5a6275;
  margin-top: 30px;
  padding-left: 10px;
}
h6 {
  color: #9ca1ab;
  margin-left: 5px;
}
.main_icon {
  position: relative;
  font-size: 100px;
  color: #fec100;
  font-weight: light;
  margin-top: 30px;
  margin-left: 30px;
}
.col-3 {
  margin-top: 20px;
}
.main_degree {
  padding: 10px;
  color: #5a6275;
  font-size: 50px;
  font-weight: 500;
  margin-left: -20px;
  padding-bottom: 0px;
}
.main_detail {
  margin-left: -20px;
  font-size: 12px;
  margin-left: -5px;
  color: #9ca1ab;
}

.next_days {
  color: #5a6275;
  margin-top: 50px;
  margin-left: 10px;
}
.icon {
  color: #fec100;
  font-size: 30px;
  margin-top: 15px;
  padding-top: 10px;
  margin-bottom: 15px;
}

.degree {
  margin-left: -10px;
  color: #9ca1ab;
}

.unit {
  position: relative;
  margin-left: -10px;
  font-size: 15px;
}

.source_link {
  color: #53c5be;
}
